* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f0f1a;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #161625;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: #9d4edd;
}

section {
    text-align: center;
    padding: 100px 20px;
}

h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

button {
    background: #9d4edd;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}
.search-box {
    margin-top: 30px;
}

.search-box input {
    width: 350px;
    max-width: 90%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.search-box button {
    margin-left: 10px;
}
